.category-wrap {
  background-color: white;
  border: 1px solid black;
  font-family: Roboto, sans-serif;
  height: fit-content;
  overflow: scroll;
  padding-left: 30px;
  width: 400px;
}

.category-wrap-title {
  font-size: 2em;
  padding: 1em 0 0.5em 0.2em;
  text-transform: uppercase;
}