@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
.free-shipping-container {
    display: flex;
    font-family: 'Roboto', sans-serif;
    margin: 0.3em 0;
}
