.search-bar-btn {
  background: rgb(113, 219, 212);
  border: 1px solid rgb(113, 219, 212);  
  border-radius: 0 5px 5px 0;
  color: white;
  cursor: pointer;
  font-size: 20px;
  height: 36px;
  text-align: center;
  width: 40px;
}

.search-bar-container{
  display: flex;
  font-family: Roboto ,sans-serif;
}

.search-bar-input {
  border: 3px solid rgb(113,219,212);
  border-radius: 5px 0 0 5px;
  border-right: none;
  color: #9DBFAF;
  height: 20px;
  padding: 5px;
  width: 100%;
}

.search-bar-input:focus{
  color: rgb(113,219,212);
  outline: none;
}



.search-bar-message {
  color: rgb(252, 250, 241);
  padding: 1em 0;
}